<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Amazon scraper - API</title>
</head>
<body>
    <header>
        <center>
            <h1>Welcome to amazon products informations scraper API</h1>
        </center>
    </header>
    <center>
        <h3>Main endpoints in our API:</h3>
        <div class="main">
            <h4>
                /products/{product_id}?key=
            </h4>
            <br>
            <h4>
                /products/{product_id}/reviews?key=
            </h4>
            <br>
            <h4>
                /products/{product_id}/offers?key=
            </h4>
            <br>
            <h4>
                /products/search/{search_word}?key=
            </h4>
        </div>
    </center>
    <footer>
        <center>
            <h3>All copy rights are reserved for -fr13nd230- 2023 &copy;</h3>
        </center>
    </footer>
</body>
</html>